
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<form action="{{ url_for('edit',id=todo.id)}}" method="POST"> 
    <div class="row"> 
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</form> 

{% endblock %}