{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
{% block app_content %}
<style>
form {padding: 10px;}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.incomplete {
    background-color: #fafafa;
    padding: 10px;
    border-radius: 2rem;
}
</style>

<form action="{{ url_for('add') }}" method="POST">
    <div class="row"> 
        <div class="col-md-4" style="width: 100%;">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</form> 

<div style="clear: both; padding: 10px;" >
    <br>
    {% for todo in incomplete %}
    <a class="alignleft" href="{{ url_for('complete', id=todo.id) }}">
        <span style="color:#2aa58a;"class="glyphicon">&#xe084;</span></a>
    <p class="alignleft" >&nbsp;&nbsp;{{todo.task }}</p>
    <div class="alignright">
        <a href="{{ url_for('delete', id=todo.id) }}"><span class="glyphicon">&#xe082;</span></a>
        <a href="{{ url_for('edit', id=todo.id) }}"><span class="glyphicon">&#xe065;</span></a>
        <img src="" alt="">
    </div><br><hr>
    {% endfor %}  
</div>

<div style="clear:both;" class="incomplete">
    <span class="alignleft"><b>Completed Items </b></span>
    <a class="alignright" href="{{ url_for('delete_all') }}">
        <span class="glyphicon">&#xe020;</span></a><br>
    <hr>
    {% for todo in complete %} 
        <a class="alignright" href="{{ url_for('undo', id=todo.id) }}">Undo</a>
        <p><del>{{ todo.task }}</del></p><hr>
    {% endfor %} 
</div>
{% endblock %}